<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>d r _ b l o b Refenrence Template</title>
</head>
<body>
<h1>d r _ b l o b</h1>
	<p>
		Example Template for the Extension dr_blob
		
		Have a look on the manual for details
	</p>


<h2>Available Marker:</h2>

	<h3>Content Markers:</h3>
	<p>
	###BLOB_UID###
	###BLOB_TITLE###
	###BLOB_DESCRIPTION###
	###BLOB_AUTHOR###
	###BLOB_AUTHOR_EMAIL###
	###BLOB_CRDATE###
	###BLOB_LASTCHANGE###
	###BLOB_AGE###
	###BLOB_DOWNLOADCOUNT###
	###BLOB_CHECKSUM###
	###BLOB_FILENAME###
	###BLOB_FILESIZE###
	###BLOB_FILETYPE###
	###BLOB_FILEICON###
	###BLOB_CATEGORIES###
	</p>
	
	<h3>Sortlinks</h3>
	<p>
	###BLOB_SORTLINK_TITLE###
	###BLOB_SORTLINK_CRDATE###
	###BLOB_SORTLINK_LASTCHANGE###
	###BLOB_SORTLINK_FILESIZE###
	###BLOB_SORTLINK_AUTHOR###
	###BLOB_SORTLINK_UID###
	###BLOB_SORTLINK_DOWNLOADCOUNT###
	###BLOB_SORTLINK_FILETYPE###
	</p>
	
	<h3>Language Markers:</h3>
	<p>
	###BLOB_MORE###
	###BLOB_DOWNLOAD###
	###LANG_UID###
	###LANG_TITLE###
	###LANG_DESCRIPTION###
	###LANG_AUTHOR###
	###LANG_AUTHOR_EMAIL###
	###LANG_CRDATE###
	###LANG_LASTCHANGE###
	###LANG_AGE###
	###LANG_CHECKSUM###
	###LANG_FILENAME###
	###LANG_FILESIZE###
	###LANG_FILETYPE###
	###LANG_FILEICON###
	###LANG_CATEGORIES###
	</p>
	
	<h3>Available Link-Marker</h3>
	<p>
	###BLOB_LINK_ITEM###
	###BLOB_LINK_FILE###
	</p>
	
	
<hr />

This is the template subpart for the LIST-Mode. 


<!-- ###TEMPLATE_LIST### begin -->
	<table class="tx_drblob_list">
		<colgroup>
			<col width="64%" />
			<col width="15%" />
			<col width="20%" />
			<col width="1%" />
		</colgroup>
		<thead>
			<tr>
				<th class="tx_drblob_list-head">###BLOB_SORTLINK_TITLE###</th>
				<th class="tx_drblob_list-head">###BLOB_SORTLINK_CRDATE###</th>
				<th class="tx_drblob_list-head">###LANG_CATEGORIES###</th>
				<th class="tx_drblob_list-head">&nbsp;</th>
			</tr>
		</thead>
	<!-- ###CONTENT### begin -->
		<tbody>
	<!-- ###BLOBITEM### begin -->
		<tr>
			<td class="tx_drblob_list-row1">###BLOB_TITLE###</td>
			<td class="tx_drblob_list-row1">###BLOB_CRDATE###</td>
			<td class="tx_drblob_list-row1">###BLOB_CATEGORIES###</td>
			<td class="tx_drblob_list-row1" nowrap="nowrap"><!--###BLOB_LINK_ITEM###--> ###BLOB_MORE### <!--###BLOB_LINK_ITEM###-->&nbsp;<!--###BLOB_LINK_FILE###--> ###BLOB_DOWNLOAD### <!--###BLOB_LINK_FILE###--></td>
		</tr>
	<!-- ###BLOBITEM### end -->
		
	<!-- ###BLOBITEM_1### begin -->
		<tr>
			<td class="tx_drblob_list-row2">###BLOB_TITLE###</td>
			<td class="tx_drblob_list-row2">###BLOB_CRDATE###</td>
			<td class="tx_drblob_list-row2">###BLOB_CATEGORIES###</td>
			<td class="tx_drblob_list-row2" nowrap="nowrap"><!--###BLOB_LINK_ITEM###--> ###BLOB_MORE### <!--###BLOB_LINK_ITEM###-->&nbsp;<!--###BLOB_LINK_FILE###--> ###BLOB_DOWNLOAD### <!--###BLOB_LINK_FILE###--></td>
		</tr>
	<!-- ###BLOBITEM_1### end -->

	</tbody>
	<!-- ###CONTENT### end -->
	</table>
<!-- ###TEMPLATE_LIST### end -->

<!-- ###TEMPLATE_LIST_NOITEMS### begin -->
	<table class="tx_drblob_list">
		<tr>
			<th class="tx_drblob_list-head">###LANG_TITLE###</th>
			<th class="tx_drblob_list-head">###LANG_CRDATE###</th>
			<th class="tx_drblob_list-head">&nbsp;</th>
		</tr>
		<tr>
			<td class="tx_drblob_list-row1" colspan="3" align="center">###LANG_NOITEMS###</td>
		</tr>
	</table>
<!-- ###TEMPLATE_LIST_NOITEMS### end -->






<hr />

This is the template subpart for the TOP-Mode. 


<!-- ###TEMPLATE_TOP### begin -->
	<table cellpadding="4" cellspacing="1" class="tx_drblob_top">
		<tr>
			<th class="tx_drblob_top-head">&nbsp;</th>
		</tr>
	<!-- ###CONTENT### begin -->

		<!-- ###BLOBITEM### begin -->
			<tr>
				<td class="tx_drblob_top-row1">
					###BLOB_CRDATE###<br />
					<!--###BLOB_LINK_ITEM###--> ###BLOB_TITLE### <!--###BLOB_LINK_ITEM###-->
					###BLOB_DESCRIPTION###
					###BLOB_CATEGORIES###
					<!--###BLOB_LINK_ITEM###--> ###BLOB_MORE### <!--###BLOB_LINK_ITEM###--><br />
					<br />
				</td>
			</tr>
		<!-- ###BLOBITEM### end -->
			
		<!-- ###BLOBITEM_1### begin -->
			<tr>
				<td class="tx_drblob_top-row2">
					###BLOB_CRDATE###<br />
					<!--###BLOB_LINK_ITEM###--> ###BLOB_TITLE### <!--###BLOB_LINK_ITEM###-->
					###BLOB_DESCRIPTION###
					###BLOB_CATEGORIES###
					<!--###BLOB_LINK_ITEM###--> ###BLOB_MORE### <!--###BLOB_LINK_ITEM###--><br />
					<br />
				</td>
			</tr>
		<!-- ###BLOBITEM_1### end -->

	<!-- ###CONTENT### end -->
		<tr>
			<th class="tx_drblob_top-foot">&nbsp;</th>
		</tr>
	</table>
<!-- ###TEMPLATE_TOP### end -->

<!-- ###TEMPLATE_TOP_NOITEMS### begin -->
	<table cellpadding="4" cellspacing="1" class="tx_drblob_top">
		<tr>
			<th class="tx_drblob_top-head">###LANG_NOITEMS###</th>
		</tr>
	</table>
<!-- ###TEMPLATE_TOP_NOITEMS### end -->




<hr />

This is the template subpart for the PERSONAL-Mode. 

Special Marker for the ADD-/REMOVE-Part
	###FORM_METHOD###
	###FORM_TARGET###
	###ACTION###
	###ITEMS###


<!-- ###TEMPLATE_PERSONAL### begin -->
	<table cellpadding="4" cellspacing="1" class="tx_drblob_personal">
		<tr>
			<th class="tx_drblob_personal-head">&nbsp;</th>
		</tr>
	<!-- ###CONTENT### begin -->

		<!-- ###BLOBITEM### begin -->
			<tr>
				<td class="tx_drblob_personal-row1">
					###BLOB_LASTCHANGE###<br />
					<!--###BLOB_LINK_ITEM###--> ###BLOB_TITLE### <!--###BLOB_LINK_ITEM###-->
					###BLOB_DESCRIPTION###
					###BLOB_CATEGORIES###
					<!--###BLOB_LINK_ITEM###--> ###BLOB_MORE### <!--###BLOB_LINK_ITEM###--><br />
					<br />
				</td>
			</tr>
		<!-- ###BLOBITEM### end -->
			
		<!-- ###BLOBITEM_1### begin -->
			<tr>
				<td class="tx_drblob_personal-row2">
					###BLOB_LASTCHANGE###<br />
					<!--###BLOB_LINK_ITEM###--> ###BLOB_TITLE### <!--###BLOB_LINK_ITEM###-->
					###BLOB_DESCRIPTION###
					###BLOB_CATEGORIES###
					<!--###BLOB_LINK_ITEM###--> ###BLOB_MORE### <!--###BLOB_LINK_ITEM###--><br />
					<br />
				</td>
			</tr>
		<!-- ###BLOBITEM_1### end -->

	<!-- ###CONTENT### end -->
		<tr>
			<th class="tx_drblob_personal-foot">&nbsp;</th>
		</tr>
	</table>
<!-- ###TEMPLATE_PERSONAL### end -->

<!-- ###TEMPLATE_PERSONAL_NOITEMS### begin -->
	<table cellpadding="4" cellspacing="1" class="tx_drblob_personal">
		<tr>
			<th class="tx_drblob_personal-head">###LANG_NOITEMS###</th>
		</tr>
	</table>
<!-- ###TEMPLATE_PERSONAL_NOITEMS### end -->


<!-- ###TEMPLATE_PERSONAL_ADD_FOLDER### begin -->
	<div class="tx_drblob_personal-btn">
		<form method="###FORM_METHOD###" action="###FORM_TARGET###">
			<input type="hidden" name="tx_drblob_pi1[dr_blob][action]" value="###ACTION###">
			<input type="hidden" name="tx_drblob_pi1[dr_blob][items]" value="###ITEMS###">
			<input type="Submit" value="###LANG_PERSADD###" />
		</form>
	</div>
<!-- ###TEMPLATE_PERSONAL_ADD_FOLDER### end -->

<!-- ###TEMPLATE_PERSONAL_REMOVE_FOLDER### begin -->
	<div class="tx_drblob_personal-btn">
		<form method="###FORM_METHOD###" action="###FORM_TARGET###">
			<input type="hidden" name="tx_drblob_pi1[dr_blob][action]" value="###ACTION###">
			<input type="hidden" name="tx_drblob_pi1[dr_blob][items]" value="###ITEMS###">
			<input type="Submit" value="###LANG_PERSREMOVE###" />
		</form>
	</div>
<!-- ###TEMPLATE_PERSONAL_REMOVE_FOLDER### end -->





<hr />


This is the template subpart for the SINGLE-Mode. 

Special Marker for this subpart:
	###BLOB_SINGLE_RTN-URL###
	
	###BLOB_DATA_EXISTS_SWITCH_START###
	###BLOB_DATA_EXISTS_SWITCH_END###


<!-- ###TEMPLATE_SINGLE### begin -->
	<div class="tx_drblob_single">
		<table border="0">
			<tr>
				<th align="left" colspan="2">###BLOB_TITLE###</th>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2"><b>###LANG_TITLE###:</b> ###BLOB_TITLE###</td>
			</tr>
			<tr>
				<td colspan="2" valign="top"><b>###LANG_CATEGORIES###:</b><br />###BLOB_CATEGORIES###</td>
			</tr>
			<tr>
				<td width="50%"><b>###LANG_AUTHOR###:</b> ###BLOB_AUTHOR###</td>
				<td width="50%"><b>###LANG_AUTHOR_EMAIL###:</b> ###BLOB_AUTHOR_EMAIL###</td>
			</tr>
			<tr>
				<td width="50%"><b>###LANG_CRDATE###:</b> ###BLOB_CRDATE###</td>
				<td width="50%"><b>###LANG_LASTCHANGE###:</b> ###BLOB_LASTCHANGE###</td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2"><b>###LANG_DESCRIPTION###:</b><br /><br />###BLOB_DESCRIPTION###</td>
			</tr>
		###BLOB_DATA_EXISTS_SWITCH_START###
			<tr>
				<td width="50%"><b>###LANG_FILENAME###:</b> ###BLOB_FILENAME###</td>
				<td width="50%"><b>###LANG_FILESIZE###:</b> ###BLOB_FILESIZE###</td>
			</tr>
			<tr>
				<td colspan="2">###BLOB_FILEICON### <!--###BLOB_LINK_FILE###--> ###BLOB_DOWNLOAD### <!--###BLOB_LINK_FILE###--></td>
			</tr>
			<tr>
				<td>###BLOB_DOWNLOADCOUNT###</td>
				<td><b>###LANG_CHECKSUM</b>: ###BLOB_CHECKSUM###</td>
			</tr>
		###BLOB_DATA_EXISTS_SWITCH_END###
		</table>
		<br />
		<a href="###BLOB_SINGLE_RTN-URL###" class="" title="###LANG_BACK###">###LANG_BACK###</a>
		
		<!--
		<form action="###BLOB_SINGLE_RTN-URL###" method="post">
			<input type="submit" class="" value="###LANG_BACK###" />
		</form>
		-->
	</div>
<!-- ###TEMPLATE_SINGLE### end -->





<hr />

This is the template subpart for the SEARCH-Mode. 
The SEARCH-Mode uses the LIST-Mode-Template to show the records

Special Marker for this subpart:

	###FORM_URL###
	###SWORDS###
	###SEARCH_BUTTON###



<!-- ###TEMPLATE_SEARCH### begin -->
	<form method="post" action="###FORM_URL###">
		<input size="30" maxlength="100" type="text" name="tx_drblob_pi1[sword]" value="###SWORDS###" />
		<input type="hidden" name="no_cache" value="1" />
		<input type="hidden" name="tx_drblob_pi1[pointer]" value="" />
		<input type="submit" name="search" value="###SEARCH_BUTTON###" />
	</form>
	<hr />
<!-- ###TEMPLATE_SEARCH### end -->


<!-- ###TEMPLATE_SEARCH_NOITEMS### begin -->
	<table border="0" cellspacing="2" cellpadding="2" class="tx_drblob_list">
		<tr>
			<td class="tx_drblob_list-row1" colspan="3" align="center" >###LANG_NOITEMS###</td>
		</tr>
	</table>
<!-- ###TEMPLATE_SEARCH_NOITEMS### end -->