<!-- ###TEMPLATE_TOP### begin -->
	<table cellpadding="4" cellspacing="1" border="0" width="300">
		<tr>
			<th class="container_header">&nbsp;</th>
		</tr>
	<!-- ###CONTENT### begin -->

		<!-- ###BLOBITEM### begin -->
			<tr>
				<td class="container_content_1">
					<font face="verdana" size="1" color="black">
						###BLOB_CRDATE_VAL###<br />
						###BLOB_TITLE_VAL_LINK###
						<p style="margin:0 0 0 0;">###BLOB_DESCRIPTION_VAL###</p>
						###BLOB_MORE_LINK###<br />
					</font><br />
				</td>
			</tr>
		<!-- ###BLOBITEM### end -->
			
		<!-- ###BLOBITEM_1### begin -->
			<tr>
				<td class="container_content_2">
					<font face="verdana" size="1" color="black">
						###BLOB_CRDATE_VAL###<br />
						###BLOB_TITLE_VAL_LINK###
						<p style="margin:0 0 0 0;">###BLOB_DESCRIPTION_VAL###</p>
						###BLOB_MORE_LINK###<br />
					</font><br />
				</td>
			</tr>
		<!-- ###BLOBITEM_1### end -->
	
		<!-- ###BLOBITEM_2### begin -->
			<tr>
				<td>
					<font face="verdana" size="1" color="black">
						###BLOB_CRDATE_VAL###<br />
						###BLOB_TITLE_VAL_LINK###
						<p style="margin:0 0 0 0;">###BLOB_DESCRIPTION_VAL###</p>
						###BLOB_MORE_LINK###<br />
					</font><br />
				</td>
			</tr>
		<!-- ###BLOBITEM_2### end -->
	<!-- ###CONTENT### end -->
		<tr>
			<th class="container_footer">&nbsp;</td>
		</tr>
	</table>
<!-- ###TEMPLATE_TOP### end -->

<!-- ###TEMPLATE_TOP_NOITEMS### begin -->
	<table cellpadding="4" cellspacing="1" border="0" width="300">
		<tr>
			<th class="container_header">Nix gefunden...</th>
		</tr>
	</table>
<!-- ###TEMPLATE_TOP_NOITEMS### end -->