<!-- ###TEMPLATE_LIST### begin -->
	<table border="0" cellspacing="2" cellpadding="2 class="" width="60%">
		<tr>
			<th class="tx_drblob_headline" align="left" width="84%">###BLOB_SORTLINK_TITLE###</th>
			<th class="tx_drblob_headline" align="left" width="15%">###BLOB_SORTLINK_CRDATE###</th>
			<th class="tx_drblob_headline" align="left" width="1%">&nbsp;</th>
		</tr>
<!-- ###CONTENT### begin -->

		<!-- ###BLOBITEM### begin -->
			<tr class="tx_drblob_item1">
				<td>###BLOB_TITLE###</td>
				<td>###BLOB_CRDATE###</td>
				<td>###BLOB_MORE_LINK###&nbsp;###BLOB_DOWNLOAD_LINK###</td>
			</tr>
		<!-- ###BLOBITEM### end -->
			
		<!-- ###BLOBITEM_1### begin -->
			<tr class="tx_drblob_item2">
				<td>###BLOB_TITLE###</td>
				<td>###BLOB_CRDATE###</td>
				<td>###BLOB_MORE_LINK###&nbsp;###BLOB_DOWNLOAD_LINK###</td>
			</tr>

		<!-- ###BLOBITEM_1### end -->
	
		<!-- ###BLOBITEM_2### begin -->
			<tr class="tx_drblob_item3">
				<td nowrap>###BLOB_TITLE###</td>
				<td>###BLOB_CRDATE###</td>
				<td nowrap>###BLOB_MORE_LINK###&nbsp;###BLOB_DOWNLOAD_LINK###</td>
			</tr>

		<!-- ###BLOBITEM_2### end -->
	<!-- ###CONTENT### end -->
		
	</table>
<!-- ###TEMPLATE_LIST### end -->

<!-- ###TEMPLATE_LIST_NOITEMS### begin -->
	<table border="0" cellspacing="2" cellpadding="2 class="" width="60%">
		<tr>
			<th class="tx_drblob_headline" align="left" width="84%">Title</th>
			<th class="tx_drblob_headline" align="left" width="15%">Create Date</th>
			<th class="tx_drblob_headline" align="left" width="1%">&nbsp;</th>
		</tr>
		<tr>
			<td class="tx_drblob_item1" colspan="3" align="center">Sorry, no Items available</td>
		</tr>
	</table>
<!-- ###TEMPLATE_LIST_NOITEMS### end -->