Variables:
----------

###BLOB_DOWNLOAD_LINK###
###BLOB_MORE_LINK###
###BLOB_FILENAME###
###BLOB_FILESIZE###
###BLOB_FILETYPE###
###BLOB_DESCRIPTION###
###BLOB_TITLE###
###BLOB_TITLE_LINK###
###BLOB_AUTHOR###
###BLOB_CRDATE###
###BLOB_LASTCHANGE###


<!-- ###TEMPLATE_TOP### begin -->
	<table cellpadding="4" cellspacing="1" border="0" width="300">
		<tr>
			<th class="container_header">&nbsp;</th>
		</tr>
	<!-- ###CONTENT### begin -->

		<!-- ###BLOBITEM### begin -->
			<tr>
				<td class="container_content_1">
					<font face="verdana" size="1" color="black">
						###BLOB_CRDATE###<br />
						###BLOB_TITLE_LINK###
						<p style="margin:0 0 0 0;">###BLOB_DESCRIPTION###</p>
						###BLOB_MORE_LINK###<br />
					</font><br />
				</td>
			</tr>
		<!-- ###BLOBITEM### end -->
			
		<!-- ###BLOBITEM_1### begin -->
			<tr>
				<td class="container_content_2">
					<font face="verdana" size="1" color="black">
						###BLOB_CRDATE###<br />
						###BLOB_TITLE_LINK###
						<p style="margin:0 0 0 0;">###BLOB_DESCRIPTION###</p>
						###BLOB_MORE_LINK###<br />
					</font><br />
				</td>
			</tr>
		<!-- ###BLOBITEM_1### end -->
	
		<!-- ###BLOBITEM_2### begin -->
			<tr>
				<td>
					<font face="verdana" size="1" color="black">
						###BLOB_CRDATE###<br />
						###BLOB_TITLE_LINK###
						<p style="margin:0 0 0 0;">###BLOB_DESCRIPTION###</p>
						###BLOB_MORE_LINK###<br />
					</font><br />
				</td>
			</tr>
		<!-- ###BLOBITEM_2### end -->
	<!-- ###CONTENT### end -->
		<tr>
			<th class="container_footer">&nbsp;</td>
		</tr>
	</table>
<!-- ###TEMPLATE_TOP### end -->

<!-- ###TEMPLATE_TOP_NOITEMS### begin -->
	<table cellpadding="4" cellspacing="1" border="0" width="300">
		<tr>
			<th class="container_header">Die Liste enthält momentan keine Einträge</th>
		</tr>
	</table>
<!-- ###TEMPLATE_TOP_NOITEMS### end -->