<!-- ###TEMPLATE_SEARCH### begin -->
	<form method="post" action="###FORM_URL###">
		<input size="30" maxlength="100" type="text" name="tx_drblob_pi1[sword]" value="###SWORDS###" />
		<input type="hidden" name="no_cache" value="1" />
		<input type="hidden" name="tx_drblob_pi1[pointer]" value="" />
		<input type="submit" name="search" value="###SEARCH_BUTTON###" />
	</form>
<!-- ###TEMPLATE_SEARCH### end -->


<!-- ###TEMPLATE_SEARCH_NOITEMS### begin -->
	<table border="0" cellspacing="2" cellpadding="2 class="" width="60%">
		<tr>
			<td class="tx_drblob_item1" colspan="3" align="center">Sorry, no Items found</td>
		</tr>
	</table>
<!-- ###TEMPLATE_SEARCH_NOITEMS### end -->

