<f:layout name="details" />

<f:section name="content" >

	<div class="blob-single">
		<f:translate key="list_field_tstamp" /> ###BLOB_LASTCHANGE### (###BLOB_AGE###)
		<h1>{file.title}</h1>
		{file.version}
		###BLOB_IMAGES###
		
		<f:format.html>{file.description}</f:format.html>
		
		<p><f:translate key="list_field_categories" />: ###BLOB_CATEGORIES###</p>
		<p><strong><f:translate key="list_field_author" />:</strong> {file.author}</p>
		
		<p>
			<vhc:fileicon filename="{file.fileName}" style="vertical-align: middle;" /> {file.fileName} (<vhc:format.filesize bytes="{file.filesize}" />) <br />
			<f:translate key="list_field_blob_checksum" />: {file.fileChecksum}<br />
			
			<f:translate key="list_field_downloadcount_wrap" arguments="{ 0 : file.downloadCount }" /><br />
		 	<f:render partial="downloadLink" arguments="{file : file, label : 'single_button_download' }"/>
		</p>
		
	</div>
	

</f:section>