{namespace vhc=Tx_Vhc_ViewHelpers}
<f:layout name="details" />

<f:section name="content" >

	<div class="blob-single">
		<f:translate key="list_field_tstamp" /> <f:format.date date="{file.changeDate}" format="d.m.Y" /> (<vhc:format.age date="{file.changeDate}" />)
		<h1>{file.title}</h1>
		{file.version}
		
		<f:if condition="{file.images}">
			<f:for each="{file.images}" as="image">
				<f:image src="{image}" alt="{file.title}" width="350px"/>
			</f:for>
		</f:if>
		
		<f:format.html>{file.description}</f:format.html>
		
		<f:if condition="{file.categories}">
			<p><f:translate key="list_field_categories" />:</p>
			<ul>
			<f:for each="{file.categories}" as="category">
				<li>{category.title}</li>
			</f:for>
			</ul>
		</f:if>
		
		<p><strong><f:translate key="list_field_author" />:</strong> {file.author}</p>
		
		<f:if condition="{file.hasWorkload}==1">
			<p>
				<vhc:fileicon filename="{file.fileName}" style="vertical-align: middle;" /> {file.fileName} (<vhc:format.filesize bytes="{file.fileSize}" />) <br />
				<f:translate key="list_field_blob_checksum" />: {file.fileChecksum}<br />
				
				<f:translate key="list_field_downloadcount_wrap" arguments="{ 0 : file.downloadCount }" /><br />
			 	<f:render partial="downloadLink" arguments="{file : file, label : 'single_button_download' }"/>
			</p>
		</f:if>
		
	</div>
	

</f:section>