{namespace vhc=Tx_Vhc_ViewHelpers}
{namespace drblob=Tx_DrBlob_ViewHelpers}


<f:layout name="default" />

<f:section name="content">
	<f:if condition="{files}">
		<f:then>
			<f:render section="search" />
			
			<table class="blob-list-container">
				<colgroup>
					<col width="30%" />
					<col width="30%" />
					<col width="15%" />
					<col width="10%" />
					<col width="15%" />
				</colgroup>
				<thead>
					<tr class="blob-list-head">
						<th><f:link.action arguments="{sort : 'title'}"><f:translate key="list_field_title" /></f:link.action></th>
						<th><f:link.action arguments="{sort : 'author'}"><f:translate key="list_field_author" /></f:link.action></th>
						<th><f:link.action arguments="{sort : 'crdate'}"><f:translate key="list_field_crdate" /></f:link.action></th>
						<th><f:link.action arguments="{sort : 'blob_size'}"><f:translate key="list_field_blob_size" /></f:link.action></th>
						<th></th>
					</tr>
				</thead>
				<tfoot></tfoot>
				<tbody>

					<f:for each="{files}" as="file">
						<f:cycle values="{0: 'even', 1: 'odd'}" as="zebraClass">
							<tr class="tr-{zebraClass}">
								<td>{file.title}</td>
								<td>{file.author}</td>
								<td><f:format.date date="{file.createDate}" format="d.m.Y" /></td>
								<td><vhc:format.filesize>{file.filesize}</vhc:format.filesize></td>
								<td style="white-space: nowrap;">
									<f:render partial="downloadLink" arguments="{file : file, label : 'list_button_download' }"/>
									<f:link.action action="details" arguments="{file : file}"><f:translate key="list_button_show" /></f:link.action>
								</td>
							</tr>
						</f:cycle>
					</f:for>
					
				</tbody>
			</table>
		</f:then>
		<f:else>
			Empty list
		</f:else>
	</f:if>
	<f:render section="manageSubscription" />
</f:section>


<f:section name="search">
	<f:alias map="{code: 'search'}">
		<f:if condition="{settings.code}=={code}">
			<f:form method="post" noCache="1">
				<f:form.textbox maxlength="100" size="30" name="sword" />
				<f:form.submit name="search" value="{f:translate(key: 'search_button_search')}" />
			</f:form>
			<hr />
		</f:if>
	</f:alias>
</f:section>

<f:section name="manageSubscription">
	<f:if condition="{settings.showAdd2Fav}==1">
		<f:then>
			<f:security.ifAuthenticated>
				<f:then>
					<div class="blob-personal-btn">
						<f:form method="post" action="manageSubscription">
						<drblob:IsFolderSubscribed>
							<f:then>
								<f:form.submit value="{f:translate(key: 'personal_button_add')}" />
							</f:then>
							<f:else>
								<f:form.submit value="{f:translate(key: 'personal_button_remove')}" />
							</f:else>
						</drblob:IsFolderSubscribed>
						</f:form>
					</div>
				</f:then>
				<f:else>
					<!-- not logged in, so no subscription possible -->
				</f:else>
			</f:security.ifAuthenticated>
		</f:then>
		<f:else>
			<!-- subscription not activated -->
		</f:else>
	</f:if>	
</f:section>